
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: #000;
}

.sub_menu{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0px;
}

.sub_menu li{
    padding: 10px 10px;
}

.sub_menu li a{
    cursor: pointer;
}


.btn-run{
    background: #542FE7;
    border-radius: 4px;
    color: #fff;
    padding: 5px 10px;
}

/* Alutra */
.container-fetch-call-example{
    align-items: center;
    display: flex;
    height: 575px;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
    max-height: 575px;
    max-width: 1200px;
    position: relative;
}

.container-btn-copy-code{
    /* width: 1200px; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: auto;
    max-width: 1080px;
    width: 90%;
}

.div-fetch-call,
.container-fetch-call-response{
    background: #fff;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    max-height: 575px;
    max-width: 600px;
    overflow: hidden;
    width: 45%;
}

.jv-light-con,
.div-fetch-call-response{
    width:100%;
    padding-top: 16px;
}

.container-fetch-call-response{
    align-items:flex-start;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* overflow: auto; */
}

.container-fetch-call-response{
    border-left: 1px solid rgba(51, 51, 51, .2);
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    max-width: 600px;
    /* padding-left: 100px; */
    padding: 16px 0px;
    padding-top: 0px;
    width: 45%;
    /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
}

.jv-light-current{
    padding-left: 25px;
}

.jv-light-rightString {
    /* white-space: pre-wrap; */
    max-width: 80%;
    word-wrap: break-word;
}

.jv-light-left,
.jv-folder{
    max-width: 100%;
    word-wrap: break-word;
}

.run-call-btn{
    background: transparent;
    border-radius: 100%;
    bottom: calc(50% - 25px);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .6);
    color: #fff;
    cursor: pointer;
    height: 55px;
    left: calc(50% - 27.5px);
    overflow: hidden;
    position: absolute;
    width: 55px;
    z-index: 1;
}

.run-call-btn:hover{
    transform: scale(1.1);
}

.run-call-btn svg{
    z-index: -1;
}

.run-call-btn svg g{
    transform: rotate(0deg) scale(0.7, 0.7) !important;
}

.run-call-btn svg path{

    fill: #9013FE;
}

.container-message-user-no-action{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-user-no-action{
    /* width: 600px; */
    display: inline-block;
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    color: #333;
    bottom: calc(50% - 11.5px);
    text-align: center;
    font-family: monospace;
    margin: auto;
}


/* BTN COPY */
/* div.code-toolbar > .toolbar {
    opacity: 1;
    padding: 5px;
    background: #3c17cc;
} */

.btn-copy-code{
    background: #fff;
    padding: 10px 10px;
    border: 1px solid #3c17cc;
    color: #3c17cc;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 120px;
    min-width: 120px;
    text-align: center;
}

.btn-copy-code:focus{
    outline: none;
}

.btn-response{
    background: #fff;
    color: #ae0acf;
    border: 1px solid #ae0acf;
}

.disabled{
    opacity: .5;
    cursor: not-allowed;
}

@media screen and (max-width: 1050px){
    .message-user-no-action{
        font-size: 18px;
        bottom: calc(50% - 11px);
    }
}

@media screen and (max-width: 950px){
    .container-fetch-call-example{
        flex-direction: column;
        width: 90%;
        height: 100%;
        max-height: 600px !important;
    }

    .div-fetch-call{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 400px;
        max-width: 100%;
        min-height: 300px;
        overflow: auto;
        padding-bottom: 20px;
    }

    .jv-light-con,
    .div-fetch-call-response,
    .container-fetch-call-response{
        width: 100%;
        max-width: 100%;
        height: 400px;
        min-height: 300px;
        border-top: 1px solid rgba(51, 51, 51, .2) ;
        border-left: none;
        border-radius: 0px 0px 10px 10px;
        padding-top: 20px;
    }

    .jv-light-con,
    .div-fetch-call-response{
        border-top: none;
    }

    .container-message-user-no-action{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message-user-no-action{
        font-size: 18px;
        position: static;
    }
    .codePrev{
        overflow: hidden;
    }
    code[class*=language-], pre[class*=language-]{
        overflow: hidden;
    }
    .div-fetch-call::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .div-fetch-call::-webkit-scrollbar:vertical {
        width:10px;
    }

    .div-fetch-call::-webkit-scrollbar-button:increment, .div-fetch-call::-webkit-scrollbar-button {
        display: none;
    } 

    .div-fetch-call::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    .div-fetch-call::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }

    .div-fetch-call::-webkit-scrollbar-track {
        border-radius: 10px;  
    }
}


/* SCROLL BAR */
/* jv-light-con */
.codePrev::-webkit-scrollbar,
.jv-light-con::-webkit-scrollbar {
    -webkit-appearance: none;
}

.codePrev::-webkit-scrollbar:vertical,
.jv-light-con::-webkit-scrollbar:vertical {
    width:10px;
}

.codePrev::-webkit-scrollbar-button:increment,.codePrev::-webkit-scrollbar-button,
.jv-light-con::-webkit-scrollbar-button:increment,.jv-light-con::-webkit-scrollbar-button {
    display: none;
} 

.codePrev::-webkit-scrollbar:horizontal,
.jv-light-con::-webkit-scrollbar:horizontal {
    height: 10px;
}

.codePrev::-webkit-scrollbar-thumb,
.jv-light-con::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.codePrev::-webkit-scrollbar-track,
.jv-light-con::-webkit-scrollbar-track {
    border-radius: 10px;  
}


/* COPY BUTTONS */
/* 
#btn-copy{

} */
.cursor{
    cursor: pointer;
}

.clip{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.clip-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
}

.span-text-test{
    width: 60px;
    color: #a5aec5;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.btn-copy-svg{
    border: none;
    background: transparent;
    display:flex;
    justify-content:center;
    align-items: center;
}

.btn-copy-svg:focus{
    outline: none;
}

.div-fetch-call-response{
    font-size: 8px;
}

.jv-light-current{
    font-size: .875em !important;
}

.codePrev{
    font-size: .875em !important;
    font-family: monospace !important;
}

#code-prev{
    font-family: monospace !important;
    line-height: 26px;
}
/* span.token{
    font-family: monospace !important;
} */

.jv-light-current{
    line-height: 26px;
}